[database1]
host = localhost
port = 5434
database = dvdrental
user = postgres
password = mypassword


[database2]
host = localhost
port = 5435
database = dvdrental
user = postgres
password = mypassword

[tables_query]
sqlfile = sql/tables.sql

[functions_query]
sqlfile = sql/functions.sql

[tables_rowcount_query]
sqlfile = sql/tables_with_rows.sql